
<div data-adt-system-select-company-form></div>

{form form}
	{include errors}
	<span>{formPair account, class => 'primary-select'}</span>
	<span style="display: none">{formPair submit}</span>
{/form}
