{layout $layoutFile}

{block content}
právě Vám byl vytvořen účet v aplikaci <strong>{$appName}</strong>. Pro přístup k vašemu účtu si nastavte heslo zde:<br><br>

<a href="{$link}" target="_blank">{$link}</a>
