{layout $layoutFile}

{block content}
pro nastavení nového hesla do aplikace <strong>{$projectName}</strong> klikněte na odkaz níže. <strong>Pokud jste o nové heslo nežádali, e-mail ignorujte.</strong><br><br>

<a href="{$link}" target="_blank">{$link}</a>