{define title}Heslo nastaveno{/define}

{block content}

<div class="text-center">
	<h4>Vaše heslo bylo nastaveno.</h4>

	{if $canContinue}
		<a n:href="continue!" class="btn btn-primary mt-3">Pokračovat</a>
	{/if}
</div>
