{define title}{_fcadmin.presenters.configurations.title}{/define}

{block content}

<div class="header">
    <h1 class="header-title">{_fcadmin.presenters.configurations.pageTitle}</h1>
</div>

{control configurationGrid}