<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title n:snippet="title">{ifset title}{include title|stripHtml} | {/ifset}{_app.modules.web.layout.title}</title>

	{block head}{/block}

	<link rel="manifest" href="/manifest.webmanifest"/>
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
	<link rel="icon" type="image/png" href="/favicon/favicon.png">
	<link rel="stylesheet" href="{$basePath}/dist/app/css/app.css{v}">
</head>

<body data-app-body data-adt-js-components="{$jsComponentsConfig}" data-adt-messaging data-adt-translate
	  data-adt-safari-support>
<div n:snippet="body">
	<style>
        body {
            --primaryColor: #42b6a4;
            --primaryColorDark: {="#42b6a4"|noescape|darken,5};
            --primaryColorDark20: {="#42b6a4"|noescape|darken,10};
            --secondaryColor: {="#f1f7f7"|noescape};
            --secondaryColorDark: {="#f1f7f7"|noescape|darken,5};
            --secondaryColorDarker: {="#f1f7f7"|noescape|darken,10};
            --ternaryColor: #101D40;
            --ternaryTextColor: #ffffff;
        }
	</style>

	{if $primaryTemplate}
		{snippet sideMenu}
			{include @sideMenu.latte}
			{include @mobileMenu.latte}
		{/snippet}

		<div class="container-fluid {*px-0*} delay-animate" n:snippet="container">
			{if $presenter->getAction() === 'detail'}
				<nav style="height: 70px" class="d-flex">
					<div class="back-link">
						<a n:href="default">{_app.appGeneral.labels.backToOverview}</a>
					</div>
				</nav>
			{/if}

			<div id="content">
				{include content}
			</div>
		</div>

		<div class="side-panel-template-backdrop"></div>
		<div class="side-panel-template-container">
			{snippet sidePanelContainer}
				{snippet sidePanel}{/snippet}
			{/snippet}
			<button type="button" class="btn-close"></button>
		</div>
	{else}
		{if $bodyBackgroundImageUrl}
			<style>
                .bg-primary-variant::before {
                    background-image: url({$bodyBackgroundImageUrl});
                }
			</style>
		{else}
			<style>
                .bg-primary-variant::before {
                    background-image: url(/images/velka-rest-2.webp);
                }
			</style>
		{/if}
		<div class="bg-primary-variant container-login">
			<div class="wrap-login">
                <img src="{$basePath}/images/logos/sobit-cashdesk-horizontal-light.svg{v}" class="" width="226px" height="auto" />
                {include content}
			</div>
		</div>
	{/if}

	<div n:snippet="flashes" class="snippet-flashes">
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type"
				data-close-duration="{$flash->closeDuration ?? App\UI\BasePresenter::DEFAULT_AUTO_CLOSE_DURATION}">
			<div class="alert-text">{$flash->message}</div>
			<div class="alert-close-btn-wrapper">
				<button class="alert-close-btn">
					Beru na vědomí
				</button>
			</div>
		</div>
	</div>
</div>
<script src="{$basePath}/dist/app/js/app.js{v}"></script>
{block scripts}{/block}
</body>
</html>
