{varType ADT\FancyAdmin\Model\FancyAdmin $fancyAdmin}

{form form}
	{include errors}

	<div class="inputs-wrap">
		{formPair email}
		{formPair password}
		{if $fancyAdmin->isLostPasswordEnabled()}
			<a href="{plink "Sign:lostPassword"}" class="linkInForm">
				<span class="d-sm-inline">{_fcadmin.forms.signIn.links.lostPassword}</span>
			</a>
		{/if}
		{input submit}
	</div>
{/form}