@use 'variables' as *;

@property --button-primary-color {
	syntax: '<color>';
	inherits: false;
	initial-value: #fff;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 20px;
	height: 49px;
	font-size: 16px;

	&.btn-primary {
		--button-primary-color: var(--primaryColor);
		background: linear-gradient(90deg, var(--primaryColorDark20) 0%, var(--button-primary-color) 100%);
		transition: --button-primary-color .5s;

		border: none;
		color: white;

		&:hover {
			--button-primary-color: var(--primaryColorDark20);
		}
	}

	&.btn-outline-primary {
		--bs-btn-color: var(--primaryColor);
		--bs-btn-border-color: var(--primaryColor);
		--bs-btn-hover-bg: var(--primaryColor);
		--bs-btn-hover-border-color: var(--primaryColor);
		--bs-btn-active-bg: var(--primaryColorDark);
		--bs-btn-active-border-color: var(--primaryColorDark);
		--bs-btn-disabled-color: var(--primaryColor);
		--bs-btn-disabled-border-color: var(--primaryColor);
		border: 1px solid var(--bs-btn-border-color);
	}

	&.btn-secondary {
		color: $black;
		background-color: transparent;
		border-radius: 20px;
		border: 1px solid var(--buttonSecondaryBorder, #D1E4E4);

		&:active,
		&:hover {
			border: 1px solid var(--buttonSecondaryBorderHover, #A8CCCC);
		}
	}

	&.btn-danger {
		color: white;
		background-color: $bg-danger;

		&:active,
		&:hover {
			background-color: $bg-danger-dark-10;
		}
	}
}