{varType ADT\FancyAdmin\Model\Security\SecurityUser $user}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title n:snippet="title">{ifset title}{include title|stripHtml} | {/ifset}{$projectName}</title>

	{block head}{/block}

	<link rel="manifest" href="/manifest.webmanifest"/>
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
	<link rel="icon" type="image/png" href="/favicon/favicon.png">
	{if $hmr}
		<link rel="stylesheet" href="https://localhost:3000/dist/portal/css/portal.css">
	{else}
		<link rel="stylesheet" href="{$basePath}/dist/portal/css/portal.css{v}">
	{/if}
</head>

<body data-app-body data-adt-js-components="{$jsComponentsConfig}" data-adt-messaging data-adt-translate data-adt-safari-support>
<div n:snippet="body">
	{block colors}
		<style>
			body {
				--primaryColor: #42b6a4;
				--primaryColorDark: {="#42b6a4"|darken,5|noescape};
				--primaryColorDark20: {="#42b6a4"|darken,10|noescape};
				--secondaryColor: #f1f7f7;
				--secondaryColorDark: {="#f1f7f7"|darken,5|noescape};
				--secondaryColorDarker: {="#f1f7f7"|darken,10|noescape};
				--tertiaryColor: #101D40;
				--tertiaryTextColor: #ffffff;
			}
		</style>
	{/block}

	{if $primaryTemplate}
		{snippet sideMenu}
			{block menu}
				{include @sideMenu.latte}
				{include @mobileMenu.latte}
			{/block}
		{/snippet}

		<div class="container-fluid {*px-0*} delay-animate">
			{if $presenter->getAction() === 'detail'}
				<nav style="height: 70px" class="d-flex">
					<div class="back-link">
						<a n:href="default">{_app.appGeneral.labels.backToOverview}</a>
					</div>
				</nav>
			{else}
				<nav n:if="$user->isAllowedFullDataAclResource() || count($user->getIdentity()->getAccounts()) > 1" style="height: 70px" class="d-flex">
					<div class="col-auto align-items-center" style="display: flex">
						{control selectAccountForm}
					</div>
				</nav>
			{/if}

			<div id="content">
				{include content}
			</div>

			<div id="iOsA2HS" style="display: none;">
				<div class="iOsA2HS_backdrop closeA2H"></div>
				<div class="iOsA2HS_popup">
					<span style="position: absolute; right: 20px;top: 15px;">
						<i class="fa fa-times closeA2H"></i>
					</span>
					<div class="install-header">
						<div>
							<img src="/icon512_maskable.png" />
						</div>
						<div>Instalovat {$projectName}</div>
					</div>
					<hr />
					<ul style="list-style-type: decimal;margin: 10px 0;">
						<li>Klikněte na ikonu <i class="fa-regular fa-arrow-up-from-square"></i></li>
						<li>Vyberte možnost <b>Přidat na plochu</b></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="side-panel-template-backdrop"></div>
		<div class="side-panel-template-container">
			{snippet sidePanelContainer}
				{snippet sidePanel}{/snippet}
			{/snippet}
			<button type="button" class="btn-close"></button>
		</div>
	{else}
		<div class="bg-primary-variant container-login">
			<div class="wrap-login">
				{if $account?->getLogo()}
					<img src="{$account->getLogo()->getUrl()}{v}" class="" width="226px" height="auto" alt="Logo {$account->getCompanyName()}" />
				{else}
					<img src="{$basePath}/images/logos/{$parameters['loginPageLogoFileName']}{v}" class="" width="226px" height="auto" alt="Logo {$parameters['title']}" />
				{/if}

				{if $presenter->getName() === 'Portal:Account' && !$presenter->isLinkCurrent('Account:default')}
					<p class="text-center"><a n:href="Account:default">zpět</a></p> {* TODO translate *}
				{elseif !empty($showBackButton)}
					<p class="text-center"><a n:href="Home: selectedAccount => $user->getIdentity()->getSelectedAccount()->getId(), do => redrawBody">zpět na hlavní stránku</a></p> {* TODO translate *}
				{/if}

				{include content}

				{if !$user->isLoggedIn() && !$presenter->isLinkCurrent('Sign:in')}
					<p class="text-center"><a n:href="Sign:in do => redrawBody">přejít na přihlášení</a></p> {* TODO translate *}
				{/if}
			</div>
			{if $account?->getLogo()}
				<img src="{$basePath}/images/logos/{$parameters['loginPageLogoFileName']}{v}" class="mt-4" width="146px" height="auto" alt="Logo {$parameters['title']}" />
			{/if}
		</div>
	{/if}

	<div class="snippet-flashes">
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type" data-close-duration="{$flash->closeDuration ?? ADT\FancyAdmin\UI\Presenters\BasePresenter::DEFAULT_AUTO_CLOSE_DURATION}">
			<div class="alert-text d-block">{$flash->message|noescape}</div>
			<div class="alert-close-btn-wrapper">
				<button class="alert-close-btn">
					{_fcadmin.global.flashes.close}
				</button>
			</div>
		</div>
	</div>
</div>
{if $hmr}
	<script src="https://localhost:3000/dist/portal/js/portal.js"></script>
{else}
	<script src="{$basePath}/dist/portal/js/portal.js{v}"></script>
{/if}
{block scripts}{/block}
</body>
</html>
