{varType ADT\FancyAdmin\Model\Menu\NavbarMenu $navbarMenu}

<div class="row bottom-mobile-menu d-sm-none">
    {foreach $navbarMenu->getMenuItems() as $menuItemKey => $menuItem}
        {continueIf !$menuItem->isVisible($user, $presenter)}

        <div class="col">
            {if $menuItem->getLink()}
                <a n:href="$menuItem->getLink()" n:class="$menuItem->isCurrent($presenter) ? active">
                    <i class="fa-solid fa-{$menuItem->getFaIcon()}"></i>
                    <span>{_$menuItem->getLabel()}</span>
                </a>
            {else}
                <a href="#submenu-{_$menuItem->getLabel()|webalize}-{$menuItemKey}" n:class="$menuItem->isCurrent($presenter) ? active">
                    <i class="fa-solid fa-{$menuItem->getFaIcon()}"></i>
                    <span>{_$menuItem->getLabel()}</span>
                </a>
            {/if}
        </div>
    {/foreach}
    <div class="col">
        {include @userButton.latte}
    </div>
</div>


{foreach $navbarMenu->getMenuItems() as $menuItemKey => $menuItem}
    {if $menuItem->getSubmenu()}
        {var ADT\FancyAdmin\Model\Menu\NavbarSubmenu $subMenu = $menuItem->getSubmenu()}
        <div id="submenu-{_$menuItem->getLabel()|webalize}-{$menuItemKey}" n:class="sub-menu, d-sm-none">
            {foreach $subMenu->getSubMenuItems() as $subMenuItem}
                {if $subMenuItem instanceof ADT\FancyAdmin\Model\Menu\NavbarSubmenuHeading}
                    <div class="submenu-heading">{_$subMenuItem->getLabel()}</div>
                {else}
                    {var $link = $presenter->link($subMenuItem->getLink(), $subMenuItem->getLinkArgs())}
                    <a href="{$link}" n:class="$subMenuItem->isCurrent($presenter) ? active">
                        <i class="fa-solid fa-{$subMenuItem->getFaIcon()}"></i><span>{_$subMenuItem->getLabel()}</span>
                    </a>
                {/if}
            {/foreach}
        </div>
    {/if}
{/foreach}