{varType ADT\FancyAdmin\Model\Security\SecurityUser $user}

<div class="d-flex justify-content-center align-items-center">
	<div class="dropdown-center">
		<a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<img class="me-3" style="width: 40px;" src="{$user->getIdentity()->getGravatar()|nocheck}" alt="gravatar" />
			<div class="me-1">{$user->getIdentity()->getFirstName()}</div>
		</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" n:href=":Portal:Account:profile"><i class="fa-solid fa-edit"></i> {_fcadmin.layout.profileMenu.profile.edit}</a></li>
			<li><a class="dropdown-item" n:href=":Portal:Sign:out"><i class="fa-solid fa-right-to-bracket"></i> {_fcadmin.layout.sideMenu.user.logout}</a></li>
		</ul>
	</div>
</div>