{varType ADT\FancyAdmin\Model\Security\SecurityUser $user}
{varType ADT\FancyAdmin\Model\Menu\UserMenu $userMenu}
<div class="bottom-menu">
    <div class="d-flex dropdown justify-content-center user">
        <button class="btn btn-avatar" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-xl fa-user"></i>
            <img src="{$user->getIdentity()->getGravatar()}" alt="gravatar" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end user-dropdown dropdown-menu-bottom">
            <li class="dropdown-item user-item-wrapper">
                <div class="user-item">
                    <div class="col-auto">
                        <i class="fa-solid fa-circle-user"></i>
                        <img src="{$user->getIdentity()->getGravatar()}" alt="gravatar" />
                    </div>
                    <div class="col-auto">
                        <div>{$user->getIdentity()->getFirstName()}</div>
                        <div>{$user->getIdentity()->getEmail()}</div>
                    </div>
                </div>
            </li>
            <li><hr class="dropdown-divider"></li>
            <a n:if="$userMenu->isAddMyAccountMenuItem()" n:href="Account:default" class="dropdown-item">
                <div>
                    <div>
                        <i class="fa-solid fa-user-lock"></i>
                    </div>
                    <div>
                        {_fcadmin.modules.web.navbar.account.myAccount}
                    </div>
                </div>
            </a>
            <li n:if="$userMenu->isFirebaseMenuItem()" class="dropdown-item" data-adt-notifications="">
                <div>
                    <div>
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <div>
                        Povolit notifikace
                    </div>
                </div>
            </li>
            {foreach $userMenu->getMenuItems() as $item}
                {var $link = $presenter->link($item->getLink(), $item->getLinkArgs())}
                <a href="{$link}" class="dropdown-item">
                    <div>
                        <div>
                            <i class="fa-solid fa-{$item->getFaIcon()}"></i>
                        </div>
                        <div>
                            {_$item->getLabel()}
                        </div>
                    </div>
                </a>
            {/foreach}
            <li><hr class="dropdown-divider"></li>
            <li class="logout-item">
                <a class="dropdown-item" n:href=":Portal:Sign:out">
                    <div>
                        <div>
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </div>
                        <div>
                            {_fcadmin.layout.sideMenu.user.logout}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>