{define title}
    {_fcadmin.presenters.changeLogs.pageTitle}
{/define}

{define header-actions}

{/define}

{block content}

<div class="header">
    <h1 class="header-title">
        {_fcadmin.presenters.changeLogs.header}
    </h1>
</div>

{control changeLogGrid}
