{define title}Roles{/define}

{block content}

<div class="header">
    <h1 class="header-title">Roles</h1>

    <div class="header-actions">
		<a n:href="new!" class="btn btn-new btn-primary ajax">Nový</a>
    </div>
</div>

{control roleGrid}