{extends ADT\Forms\BaseForm::getDefaultTemplateFile()}

{define row}
	<div {if $item['name']}id="{$item['name']}"{/if} class="row">
		<div n:foreach="$item['children'] as $_el" class="col-md-{12 / count($item['children'])}">
			{include renderEl, el => $_el}
		</div>
	</div>
{/define}