{extends ADT\Forms\BaseForm::getDefaultTemplateFile()}

{define row}
	<div {if $section->getName()} id="{$section->getName()}"{/if} class="row">
		<div n:foreach="$section->getElements() as $_el" class="col-md-{12 / count($section->getElements())}">
			{include renderEl, el => $_el}
		</div>
	</div>
{/define}